---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Dandi" description="About Dandi">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more..."
			>
				<img
					width="1553"
					height="873"
					src="/assets/wtm.jpeg"
					alt="Dandi at a technology event for women, organized by the Women Techmakers Curitiba community, in celebration of international women's day"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						I am a dedicated and experienced Front-End Developer with a passion for creating exceptional user interfaces and crafting web solutions that leave a positive impact on people's lives. My expertise lies in atomic design architecture, micro frontends, server-side applications, and componentized front-end development. With a strong command of HTML, CSS, and various JavaScript frameworks, I have successfully contributed to the evolution of digital platforms and the enhancement of user experiences.
					</p>
					<br>
					<p>
						As a Front-End Developer, I have a track record of delivering high-quality solutions and leading projects to success. My experience encompasses various industries, and I am well-versed in a range of technologies, including React, Vue.js, Ionic, Angular, React Native, HTML, CSS, TypeScript, and JavaScript. My dedication to improving web application performance has led to achieving higher search engine rankings through effective SEO techniques.
					</p>
					<br>
					<p>
						In addition to my role as a Front-End Developer, I am actively involved in various communities and initiatives. As an Ambassador for Women Techmakers, I am committed to empowering women in technology by providing access to resources and events that promote professional growth.
					</p>
					<br>
					<p>
						I am committed to leveraging my skills and experiences to drive innovation, contribute to dynamic teams, and create exceptional digital experiences. My passion for technology and my dedication to personal growth continue to fuel my journey as a Front-End Developer.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>Degree in Technology of Systems Analysis and Development
						Concluded - 2021 • Universidade Federal do Paraná - UFPR</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>React</p>
					<p>Next.js</p>
					<p>Javascript</p>
					<p>HTML</p>
					<p>CSS</p>
					<p>and others...</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
